<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 

</div>
<div class="healthStats"  >
  <mat-card class="cardTankOne">
      <mat-card-content>
        <h2 class="example-h2">Tank 1 </h2>
    
        <section class="example-section" *ngIf="mode === 'determinate' || mode === 'buffer'">
          <label class="example-margin">Points:</label>
          <mat-slider class="example-margin" [(ngModel)]="tank1value"></mat-slider>
        </section>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="cardTankOne">
      <mat-card-content>
        <h3 class="example-h2">Health</h3>
    
        <section class="example-section">
          <mat-progress-bar
              class="example-margin"
              [color]="color"
              [mode]="mode"
              [value]="tank1value"
              [bufferValue]="tank1bufferValue">
          </mat-progress-bar>
        </section>
      </mat-card-content>
    </mat-card>


    <mat-card class="cardTankTwo">
        <mat-card-content>
          <h2 class="example-h2">Tank 2 </h2>
      
      
          <section class="example-section" *ngIf="mode === 'determinate' || mode === 'buffer'">
            <label class="example-margin">Points:</label>
            <mat-slider class="example-margin" [(ngModel)]="tank2value"></mat-slider>
          </section>
        </mat-card-content>
      </mat-card>
      
      <mat-card class="cardTankTwo">
        <mat-card-content>
          <h3 class="example-h2">Health</h3>
      
          <section class="example-section">
            <mat-progress-bar
                class="example-margin"
                [color]="color"
                [mode]="mode"
                [value]="tank2value"
                [bufferValue]="bufferValue">
            </mat-progress-bar>
          </section>
        </mat-card-content>
      </mat-card>
    </div>

      <button mat-raised-button (click)="openDialog()">Reset </button>
      <mat-icon>home</mat-icon>
  
  
