.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

.cardTankOne {
  background-color:whitesmoke;
  
}

.cardTankTwo {
  background-color:whitesmoke;
}

.topTank {
  padding-bottom: 20px; 
  padding-right: 10px;
}

.bottomTank {
  padding-right: 10px;
}
.button {
  background-color:whitesmoke;
  
}



.healthStats {
  padding-top: 85px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
}
